body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://img.freepik.com/free-vector/realistic-blurred-floral-background_52683-63510.jpg?semt=ais_hybrid&w=740&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MenuPrincipal {
  width: 70%;
  height: 100%;
  background-color: rgb(250, 238, 246);
  margin: 0 auto;
  padding: 2.2%;
  position: static;
  border-width: 5px;
  border-style: double;
  border-color: rgb(208, 84, 233);
}

.TituloPrincipal {
  text-align: center;
  margin: 1.3%;
  color: rgb(95, 46, 124);
}

.FloatImg1 {
    float: left;
    margin: 15px;
}

.FloatImg2 {
  float: right;
  margin: 15px;
}

.FloatImgsDiv {
  clear:both;
}

.TituloCentrado {
  text-align: center;
}

.TituloMargen2 {
  margin: 2%;
}

.BigList {
  font-size: 110%;
}

.ImgCh {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.content-container {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.card-img-top {
  height: 50%;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.card {
  text-align: center;
}